body{
		margin:0;
		padding:0;
}

p {
	font-family: "Times New Roman", Georgia, Serif;	
	font-size: 16px; 
}

#page {
	height: 400px;
	width: 100%;
	background-color:#ffffff;
}

#main_content {
	height: 100%;
	width: 400px;
	min-width: 400px; 
	background-color:#ffffff;
	margin: 0 auto;
}

#soltext {
	 text-align: center;
}

.row {
	height: 12.5%;
	width: 100%;
	background-color:#222254;
}

.col1 {
	height: 100%;
	width: 12.5%;
	background-color:orange;
	float: left;
}

.col2 {
	height: 100%;
	width: 12.5%;
	background-color:blue;
	float: left;
}

	
