body{
		margin:0; /*keeps the webpage in the upper left*/ 
		padding:0;
		background-color:#dadedf;
}

h1{
		font-family: 'Oswald', sans-serif;
		color: #505754;
		text-align: center;
		margin-bottom: -20px;
}

h3{
		font-family: 'Oswald', sans-serif;
		color: #555f61;
		text-align: center;
		font-size: 11px; 
}
p {
		font-family: 'Open Sans Condensed', sans-serif;
		color: #373d3f;
		font-size: 18px; 
		text-align: center;
}

#page {
		height: 400px;
		width: 100%;
		background-color:#dadedf;
}

#main_content {
		height: 100%;
		width: 412px;
		min-width: 412px; 
		background-color:#dadedf;
		margin: 0 auto;
		border: 6px solid brown;
}

#soltext {
		text-align: center;
}

.button {
		margin: 0 auto;
		border-radius: 5px; 
		background-color: #3366cc;
		color: white; 
		font-size: 12px; 
}


.row {
		height: 12.5%;
		width: 100%;
		background-color:#222254;
}

.col1 {
		height: 100%;
		width: 12.5%;
		background-color: #107896;
		float: left;
}

.col2 {
		height: 100%;
		width: 12.5%;
		background-color: #f2f3f4;
		float: left;
}

#butt {
		min-width: 400px; 
		width: 412px;
		margin: 0 auto;
}

#note {
		font-size: 9px; 
		margin-top: -15px;
}
